body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    color: tomato;
    padding-left: 50px;
}

a {
    padding-left: 50px;
}

.box {
    color: whitesmoke;
    text-align: center;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


/*********** Almost Fluid **********/

.dark_blue {
    background-color: #052c53;
}

.light_blue {
    background-color: #109ff1;
}

.green {
    background-color: #0b4603;
}

.red {
    background-color: #720808;
}

@media screen and (min-width: 500px) {
    .dark_blue {
        width: 50%;
    }
    #container2 {
        width: 50%;
    }
}

@media screen and (min-width: 600px) {
    .dark_blue {
        width: 25%;
        order: 1;
    }
    #container2 {
        width: 50%;
    }
    .red {
        width: 25%;
        order: -1;
    }
}